.flex{
    display: flex; align-items: center;
}
.f-sb{
    justify-content: space-between;
}
.f-c{
    justify-content: center;
}
.f-ai{
    align-items: center;
}
:root {
    --gray: #787878;
    --white: #ffffff;
  }



      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  transition: all 0.2s linear;
  /* font-size: 54.5%; */
}
input {
  font-size: 2rem;
}
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: sans-serif;
}
.header {
  width: 100%;
  position:fixed;
  top: 0; right: 0;
  /* padding: 0 0; */
  box-shadow: 0 0 5px gray;
  justify-content: space-around;
  z-index: 100;
  background-color: white;
}
.header .searchbar input {
  padding: 10px;
 width: 380px;
  border-radius: 500px;
  border: 1px solid rgb(168, 168, 168);
}
.header-logo {
  width: 100px;
  height: 100px;
  display: flex;
  margin: -10px 0 ;
}
.header-logo img {
  width: 100%;
}
.header-logo>h1 {
  color: #5180b2;
  margin-left: -10px;
  font-size: 4rem;
}
.header-logo span {
  color: #070707;
  font-size: 34px;
}
.navbar {
  text-align: center;
  margin-left: 120px;
}
.navbar ul li a {
  color: #908d8d;
  display: block;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.navbar ul li a span {
  color: #5180b2;
  font-size: 18px;
}
#burgericon2 {
  display:inline-block;
  width:25px;
  background:transparent;
  border-top:4px #000 solid;
  border-bottom:4px #000 solid;
  display: block;  
}
#burgericon2 div {
  background:#000;
  height:4px;
  margin:4px 0;
  width:100%;
  display: block;
}
      .sections {      
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      select, input {
        width: 350px;
        padding: 10px;
        border: none;
        box-shadow: 0 0 2px rgb(14, 14, 14); border-radius: 10px;
      }
      input {
        width: 350px;
        padding: 10px;
        border: none;
        box-shadow: 0 0 2px rgb(9, 9, 9); border-radius: 10px;
        font-size: 16px;
        color: black;
      }
      input:focus {
      outline: none;
      }
      select>option{
       padding: 50px;
      }
      .card {
        padding: 20px;
        box-shadow: 0 0 10px gray; border-radius: 10px;
        width: 300px;
      }
      .card img {
        display: inline-block;
        width: 100%;
        /* width: 230px; */
        aspect-ratio: 1;
      }
      .container {
        padding: 20px 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 20px;
      }
      .btn, #remove{
        margin: 10px 0;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: black; color: white;
        transition: .4s ease-in-out;
        border: 1px solid white;
      }
      .btn:hover{     
        background-color: white; color: black; 
        border: 1px solid gray;    
        cursor: pointer;  
      }
      a {
        text-decoration: none;
        color: rgb(18, 62, 127);
      }
    
      span {
        color: rgb(122, 3, 3);
        font-weight: bold;
      }
      /* #CartItems{
       position: relative; border: 1px solid rgb(208, 206, 206); width: 170px; padding: 5px 5px; border-radius: 5px;
       font-size: 20px; font-weight: bolder; display: grid; place-items: center; text-align: center;
      } */